<div class="media item-content">
    <div class="image">
        <img class="mr-3" src="{{item.images.MediumImageFile}}">
        <div class="unitstring">
            <small> ({{item.unitPricing.UnitString}})</small>
        </div>
    </div>
    
    <div class="media-body item-details">
        <div class="item-name">
            {{item.name}}
        </div>
        <div class="unitstring">
            <strong>{{item.price | currency}}</strong> 
        </div>
        
        
    </div>
</div>